<div class="pet-backdrop is-hidden" data-pet-modal-backdrop>
    <div class="pet-modal" role="dialog" aria-modal="true" aria-labelledby="petModalTitle">
        <button class="pet-modal__close" type="button" aria-label="Close" data-pet-modal-close>
            <img src="./svg/icon-x.svg" alt="close" width="24" height="24" class="pet-modal__close-icon" />
        </button>

        <div class="pet-backdrop is-hidden" data-pet-modal-backdrop>
              <div     class="pet-modal"     role="dialog"     aria-modal="true"     aria-labelledby="petModalTitle"   >
                    <button       class="pet-modal__close"       type="button"       aria-label="Close"
                          data-pet-modal-close     >
                          <svg width="24" height="24">
                                <use href="../public/icons.svg#icon-close"></use>
                              </svg>
                        </button>
        
                    </button>
                    <div class="pet-modal__layout">
                          <div class="pet-modal__img-wrap">
                                <img           class="pet-modal__img"           src=""           alt=""           loading="lazy"
                                      data-pet-modal-img          />
                              </div>
        
                          <div class="pet-modal__content">
                                <p class="pet-modal__type" data-pet-modal-type>Собака</p>
        
                                <h2 class="pet-modal__name" id="petModalTitle" data-pet-modal-name>
                                      Джек
                                    </h2>
        
                                <p class="pet-modal__meta" data-pet-modal-meta>4 роки • Хлопчик</p>
        
                                <div class="pet-modal__scroll">
                                      <h3 class="pet-modal__subtitle">Опис:</h3>
                                      <p class="pet-modal__text" data-pet-modal-desc></p>
        
                                      <h3 class="pet-modal__subtitle">Здоров'я:</h3>
                                      <p class="pet-modal__text" data-pet-modal-health></p>
        
                                      <h3 class="pet-modal__subtitle">Поведінка:</h3>
                                      <p class="pet-modal__text" data-pet-modal-behavior></p>
                                    </div>
        
                                <button class="pet-modal__btn" type="button" data-pet-modal-adopt>
                                      Взяти додому
                                    </button>
                              </div>
                        </div>
                  </div>
        </div>