<div class="backdrop is-hidden">
  <div class="order-modal-container">
    <button class="order-modal-close-btn" type="button">
      <svg width="24" height="24">
        <use href="/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="order-modal-title">Залишіть заявку на знайомство</h2>

    <form class="order-modal-form">
      <label for="name" class="order-modal-form-label">Ім’я*</label>
      <div class="order-modal-input-container">
        <input
          type="text"
          id="name"
          class="order-modal-form-input"
          name="name"
          placeholder="Андрій"
          required
        />
        <p class="order-modal-error-text">Error text</p>
      </div>

      <label for="phone" class="order-modal-form-label">Телефон*</label>
      <div class="order-modal-input-container">
        <input
          type="tel"
          id="phone"
          class="order-modal-form-input"
          name="phone"
          placeholder="380955559922"
          pattern="^380\d{9}$"
          required
        />
        <p class="order-modal-error-text">Error text</p>
      </div>

      <label for="comment" class="order-modal-form-label">Коментар</label>
      <div class="order-modal-textarea-container">
        <textarea
          id="comment"
          name="comment"
          class="order-modal-form-textarea"
          placeholder="Напишіть ваш коментар"
        ></textarea>
        <p class="order-modal-error-text">Error text</p>
      </div>

      <button type="submit" class="order-modal-form-submit">Надіслати</button>
    </form>
  </div>
</div>
