<section class="pets-section" id="pet-list-section">
  <div class="container">
    <div id="loader" class="loader-pet-list is-hidden"></div>
    <h2 class="section-title">Наші хвостики</h2>
    <h3 class="section-subtitle">Вони дуже чекають на знайомство з вами</h3>
    <ul class="filter-list" id="filter-list">
      <li>
        <button class="filter-btn active" data-category="all">Всі</button>
      </li>
    </ul>
    <ul class="pets-list" id="pets-list"></ul>
    <button type="button" class="load-more-btn" id="load-more">
      Показати більше
    </button>
  </div>
</section>
<!-- Модальне вікно -->
<div class="modal-backdrop is-hidden" id="modal-pet">
  <div class="modal-content">
    <button type="modal-close" id="modal-close"></button>
    <div id="modal-data"></div>
  </div>
</div>
