<section class="feedbacks-section" id="success-story-section">
    <div class="container feedbacks-container">
        <h2 class="feedbacks-title">Щасливі історії, що надихають</h2>
        <p class="feedbacks-subtitle">
            Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
        </p>
        <div class="swiper feedbacks-slider">
            <div class="swiper-wrapper" id="feedbacks-wrapper"></div>
            <div class="slider-controls">
                <div class="swiper-pagination"></div>

                <div class="slider-navigation">
                    <button class="swiper-button-prev" aria-label="Попередній слайд" type="button">
                        <svg class="icon-arrow" width="24" height="24" aria-hidden="true">
                            <use href="/icons.svg#icon-arrow-back"></use>
                        </svg>
                    </button>

                    <button class="swiper-button-next" aria-label="Наступний слайд" type="button">
                        <svg class="icon-arrow" width="24" height="24" aria-hidden="true">
                            <use href="/icons.svg#icon-arrow-forward"></use>
                        </svg>
                    </button>
                </div>
            </div>

        </div>

        <p class="feedbacks-error is-hidden" id="feedbacks-error">
            ...Не вдалося завантажити відгуки. Спробуйте пізніше.
        </p>
    </div>
</section>