/* ===== Section ===== */
.feedbacks-section {
  background-color: var(--color-mariner-lightest);
  padding: 64px 0;
}

@media screen and (min-width: 768px) {
  .feedbacks-section {
    min-height: 693px;
  }
}

@media screen and (min-width: 1280px) {
  .feedbacks-section {
    padding: 80px 0;
  }
}



/* ===== Typography ===== */
.feedbacks-title {
  margin: 0 auto 24px;
  font-family: var(--second-family);
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);
}

@media screen and (min-width: 1280px) {
  .feedbacks-title {
    font-size: 48px;
    max-width: 500px;
  }
}

.feedbacks-subtitle {
  font-family: var(--font-family);
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-neutral-darkest);
}

@media screen and (min-width: 1280px) {
  .feedbacks-subtitle {
    font-size: 18px;
  }
}


/* ===== Slider base ===== */
#success-story-section .feedbacks-slider {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  color: var(--color-neutral-darkest);
}

#success-story-section .swiper-wrapper {
  box-sizing: content-box;
}

#success-story-section .swiper-slide {
  flex-shrink: 0;
  height: auto;
  display: flex;
}

/* ===== Card ===== */
#success-story-section .feedback-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}


#success-story-section .feedback-text {
  color: var(--Color-Scheme-1-Text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (min-width: 1280px) {
  #success-story-section .feedback-text {
    font-size: 20px;
  }
}

#success-story-section .feedback-author {
  color: var(--Color-Scheme-1-Text);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-top: 32px;
}

@media screen and (min-width: 1280px) {
  #success-story-section .feedback-author {
    font-size: 16px;
  }
}

/* ===== Rating (your SVG stars) ===== */
#success-story-section .rating-container {
  margin-bottom: 32px;
}

#success-story-section .stars-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

#success-story-section .star-icon {
  width: 16px;
  height: 16px;
  display: block;
}

#success-story-section .star-icon.filled {
  fill: var(--color-neutral-darkest);
}

#success-story-section .star-icon.outline {
  fill: transparent;
  stroke: var(--color-neutral-darkest);
  stroke-width: 2px;
}

#success-story-section .star-half-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

#success-story-section .half-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 50% 0 0);
}

/* ===== Controls (pagination + arrows) ===== */
#success-story-section .slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

/* pagination aligned with card content */
#success-story-section .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

/* bullets */
#success-story-section .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: var(--color-neutral-darkest);
  opacity: 0.2;
  margin: 0 4px !important;
  transition: opacity 0.3s;
  border-radius: 100%;
}

#success-story-section .swiper-pagination-bullet-active {
  opacity: 1;
}

/* arrows */
#success-story-section .slider-navigation {
  display: flex;
  gap: 16px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

#success-story-section .swiper-button-prev,
#success-story-section .swiper-button-next {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 12px;
  border: 1px solid #c3b49d;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    opacity 0.3s;
  background-color: var(--color-mariner-lighter);
  color: var(--color-neutral-darkest);
}

#success-story-section .swiper-button-prev:active,
#success-story-section .swiper-button-next:active,
#success-story-section .swiper-button-prev:hover,
#success-story-section .swiper-button-next:hover,
#success-story-section .swiper-button-prev:focus,
#success-story-section .swiper-button-next:focus {
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: var(--color-mariner-lighter);
}

#success-story-section .swiper-button-prev:disabled,
#success-story-section .swiper-button-next:disabled {
  background: var(--color-mariner-lighter);
  opacity: 0.4;
}

#success-story-section .swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#success-story-section .swiper-button-prev svg,
#success-story-section .swiper-button-next svg {
  pointer-events: none;
}

.feedbacks-error {
  margin-top: 32px;
  text-align: center;

  color: var(--Color-Scheme-1-Text);

  font-family: var(--font-family);
  font-size: var(--Text-Sizes-Text-Large, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.is-hidden {
  display: none;
}
